<p>cow-list works!</p>
<div class="p-4">
  <h2>Cow Catalog</h2>

  <div class="p-inputgroup mb-3">
    <input pInputText [(ngModel)]="filters.tag" placeholder="Search by Ear Tag" />
    <p-dropdown [options]="statuses" [(ngModel)]="filters.status" placeholder="Filter by Status"></p-dropdown>
    <p-dropdown [options]="pens" [(ngModel)]="filters.pen" placeholder="Filter by Pen"></p-dropdown>
    <button pButton label="Add Cow" icon="pi pi-plus" (click)="openAddCow()"></button>
  </div>

  <p-table [value]="filtered" [paginator]="true" [rows]="10">
    <ng-template pTemplate="header">
      <tr>
        <th>Ear Tag</th>
        <th>Sex</th>
        <th>Pen</th>
        <th>Status</th>
        <th>Last Event</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-cow>
      <tr (click)="viewDetail(cow?.id)">
        <td>{{ cow?.earTag }}</td>
        <td>{{ cow?.sex }}</td>
        <td>{{ cow?.pen }}</td>
        <td><p-tag [value]="cow?.status"></p-tag></td>
        <td>{{ cow?.lastEventDate | date }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
